@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.App {
  text-align: center;
  background-color: #00395E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Contenido {
  display: flex;
  font-family: 'Varela Round', sans-serif;
}

.Botones {
  background-color: #00395E;
  color: #eee;
}

.ButtonsCamaras{
	border-radius: 12px;
	background-color: #004df3;
    display: block;
    margin: auto;
    border: solid 1px #03034760;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: inset 0px -8px 0 rgba(0,0,0,0.7) ;
}

.ButtonsCamaras:active{
	box-shadow: inset 0px -4px 0 rgba(0,0,0,0.7) ;

}

.ButtonsCamaras:hover{
	background-color: rgba(255, 145, 0, 0.774);
}

a.sc-pyfCe.lkTtqM.menu-anchor{
  padding-right: 10px !important;
  padding-left: 10px !important;
  height: 100%;
}

a.sc-pyfCe.lkTtqM:hover{
  background-color: #92a3b0;
}

a.sc-pyfCe.eVPmrC.menu-anchor{
  background-color: #b2c0cb;
  padding-right: 10px !important;
  padding-left: 10px !important;
  font-size: 0.9rem;
}

a.sc-pyfCe.eVPmrC.menu-anchor:hover{
  color: unset;
}

ul.sc-eDvSVe.gnJkew{
  background-color: #b2c0cb;
}

div.sc-jSUZER.daWgIu.sub-menu-content{
  background-color: #b2c0cb;
}

.leaflet-container{
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
}

.clase_modal .modal-content {
  background-color: #00395E;
  background-image: radial-gradient(#86a9bf, #00395E);
  color: rgba(242, 242, 242, 1);
  align-items: center;
  text-align: center;
  border-color: rgba(242, 242, 242, 1);
}

div.sc-dkrFOg.fpTHfu.sidebar-inner{
  width: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
